* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#header-img {
    width: 100px;
}

#header, #nav-bar ul{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    box-shadow: 5px 0px 5px 1px #1870a3;
}

#nav-bar ul {
    justify-content: space-around;
}

#nav-bar ul li {
    width: 70%;
    list-style: none;
    margin: auto;
    border-top: 1px solid #1870a3; 
}

.nav-link {    
    padding: 10px 0;
    text-decoration: none;
    display: block;
    text-align: center;
    color:  #1870a3;
}

.nav-link:hover {
    background-color: #e1e1e1;
    transition: all 0.2s ease-in-out;
}

#features {
    height: 350px;
    padding-top: 250px;
}

.feature {
    display: flex;
    margin: 40px;
}

.service {
    margin: 0 10px;
    color: #1870a3;
}

.feature i{
    color: #1870a3;
}

.service p {
    font-style: italic;
}

.service h3 {
    padding-left: 15px;
}

#our-product {
   height: 400px;
   padding-top: 150px;
}

iframe {
    display: block;
    margin: 35px auto;
}

#prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.price {
    width: 250px;
    height: 300px;
    margin:  15px 0;
    overflow: hidden;
    text-align-last: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px -1px #1870a3;
}

.price h4 {
    background-color: #1870a3;
    color: #fff;
}

.price h3 {
    color: #1870a3;
}

.price h3, h4 {
    padding: 15px 0;
}

.price .description {
    padding: 15px 40px;    
    line-height: 30px;
    text-align: center;
}

.price input {
    width: 100px;
    padding: 10px;
    font-size: 1.1rem;
}

#contact-us {
    height: 300px;
    padding-top: 150px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

input {
    height: 40px;
    border: 2px solid #919191;
    border-radius: 5px;
    margin: 0.5rem 0;
    text-align: center;
}

input[type='email'] {
    background: #cccccc;
}

input[type='submit'] {
    text-transform: uppercase;
    line-height: 1rem;
}

form input[type='submit'] {
    width: 150px;
    margin: auto;
}

footer .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 20px 0;
    color: white;
    background-color: #1870a3e0;
}

footer .container ul {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-align: center;
    padding: 15px;
}

@media all and (min-width: 750px) {

    .container {
        width: 80%;
        margin: auto;
    }

    #header, #nav-bar ul {
        flex-direction: column;
    }

    #header {
        height: 120px;
        justify-content: space-around;
    }

    #nav-bar ul {
        max-width: 650px;
        margin: auto;
        flex-direction: row;
        border-top: 1px solid #e1e1e1; 
    }

    #nav-bar ul li:hover {
        border-top: 1px solid #5c5c5c; 
    }

    #features .container {
        width: 60%;
        margin: auto;
    }

    #prices .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .price {
        margin: 10px;
        height: 350px;
    }

    form {
        max-width: 500px;
        margin: auto;
    }
}